<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div id="top">
    <header><a href="/"><span id="logo">Vinyl</span></a></header>
    <nav>
      <div id="disctop">
        <a href="/albums"><button class="navbuttons" type="button">SEE</button></a>
        <a href="/albums/new"><button class="navbuttons" type="button">ADD</button></a>
      </div>
    </nav>
  </div>
