<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div id="top">
    <header><span id="logo">Vinyl</span></header>
    <nav>
      <div id="disctop">
        <button class="navbuttons" type="button">SEE</button>
        <button class="navbuttons" type="button">ADD</button>
      </div>
    </nav>
  </div>
