<% include ./partials/top.ejs %>

  <main id="indexmain">
    <div id="indexdisplay">
      <div class="welcome">
        <p><%= message %></p>
        <p id="tagline"><%= tagline %></p>
      </div>
      <button id="indexfavorites" type="button"><a href="/albums/favorites"><p>&#128876</p></a></button>
    </div>
  </main>

<% include ./partials/bottom.ejs %>
