<% include ./partials/top.ejs %>

  <main id="indexmain">
    <div id="indexdisplay">
      <div class="welcome"><p>Welcome to Vinyl Personal Album Database</p></div>
      <button id="indexfavorites" type="button">F</button>
    </div>
  </main>

<% include ./partials/bottom.ejs %>
