/*------------TOP PARTIAL------------*/

header {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#logo{
  font-size: 52px;
  font-weight: 900;
  width: 120px;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 3;
}

nav{
  height: 47px;
  width: 100%;
  background-color: firebrick;
  z-index: 0;
  padding-top: 3px;
}

#disctop {
  height: 47px;
  width: 100%;
  background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 1;
  max-height: 100px;
  display: flex;
  justify-content: center;
}

#disctop a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbuttons {
  height: 30px;
  width: 75px;
  margin: 10px 15px 0px;
  border-radius: 10px;
  color: white;
  background-color: firebrick;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  text-shadow: 2px 2px black;
  outline: none;
  cursor: pointer;
}


/*---------MAINS------------*/

/*----GLOBAL STYLES----*/


.welcome {
  display: block;
  width: 55%;
  margin: auto;
  background-color: firebrick;
  color: white;
  text-shadow: 1px 1px black;
  padding: 5px 0;
  position: relative;
  top: 15%;
  text-align: center;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 18px;
}
.welcome p{

}


/*----INDEX PAGE----*/


#indexmain{
  height: 400px;
  background-color: rgba(0,0,0,.95);
  width: 100%;
}

#indexdisplay {
  width: 45%;
  height: 96%;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  border: 4px solid firebrick;
}

#indexfavorites{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  display: block;
  position: relative;
  margin: auto;
  top: 25%;
}


/*----SHOW ALL PAGE----*/

#lock{
  overflow-y: hidden;
}

#showmain{
  height: 517px;
  background-color: rgba(0,0,0,.95);
  width: 100%;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
}

#showdisplay {
  width: 90%;
  height: 100%;
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#recordbarextra{
  width: 100%;
  background-color: black;
  height: 25px;
}

#recordbar {
  border-left: 4px solid firebrick;
  border-right: 4px solid firebrick;
  border-top: 2px solid white;
  border-bottom: 4px solid firebrick;
  width: 89.6%;
  height: 25px;
  background-color: black;
  line-height: 25px;
  color: white;
  text-shadow: 2px 2px firebrick;
  font-family: sans-serif;
  margin: auto;
}

.artistbar {
  display: inline-block;
  width: 20%;
  margin-left: 20px;
}
.albumbar {
  display: inline-block;
  width: 45%;
}
.conditionbar {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.record {
  border: .5px solid white;
  width: 99.8%;
  height: 25px;
  background-color: bisque;
  box-shadow: inset 0 0 10px black;
  border-radius: 4px;
  line-height: 25px;
  color: black;
  text-shadow: 1px 1px white;
  font-family: monospace;
}

.artist{
  display: inline-block;
  width: 20%;
  margin-left: 20px;
}
.album{
  display: inline-block;
  width: 45%;
}
.condition{
  display: inline-block;
  font-size: 14px;
  padding-right: 4px;
  width: 50px;
  line-height: 21px;
  border-radius: 40px;
  background-color: black;
  text-align: center;
  border: 2px solid firebrick;
  height: 24px;
  box-sizing: border-box;
  text-shadow: none;
}
.showedit{
  display: inline-block;
  width: 10%;
  height: 23px;
  text-align: center;
  background-color: firebrick;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 2px 2px black;
  outline: none;
  font-family: monospace;
  cursor: pointer;
}
.showdel{
  display: inline-block;
  width: 10%;
  height: 23px;
  text-align: center;
  background-color: firebrick;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 2px 2px black;
  outline: none;
  font-family: monospace;
  cursor: pointer;
}


/*----S.E.A.T. SHOW ONE PAGE---- */

#seatmain{
  height: 400px;
  background-color: rgba(0,0,0,.95);
  width: 100%;
}

#seatdisplay {
  width: 45%;
  height: 94%;
  background-color: firebrick;
  margin: auto;
  border-radius: 50%;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
}

#seatartist {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

#seatalbum {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

#seatcondition {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
  height: 25px;
}

#editdelcontainer{
  display: flex;
  justify-content: space-around;
}

#seatediticon {
  font-size: 26px;
  height: 30px;
   width: 30px;
  padding: 5px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto 5px;
  cursor: pointer;
}

#seatdelicon {
  font-size: 24px;
  height: 39px;
  width: 39px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  font-weight: 800;
  color: red;
  margin: auto 5px;
  cursor: pointer;
}

#seatfavorites{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  display: block;
  top: 25%;
}




/*----S.E.A.T. EDIT FORM PAGE---- */

#editartist {
  font-size: 15px;
  height: 20px;
  width: 175px;
  color: black;
  text-align: center;
  background-color: white;
  font-family: monospace;
  border: none;
  border-radius: 10px;
}

#editalbum {
  font-size: 15px;
  height: 20px;
  width: 250px;
  color: black;
  text-align: center;
  background-color: white;
  font-family: monospace;
  border: none;
  border-radius: 10px;
}

#conditionlabel {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 16px;
}

#editconditioncontainer {
  margin-left: -78px;
}

#editcondition {
  font-size: 15px;
  height: 28px;
  color: black;
  text-align: center;
  background-color: white;
  font-family: monospace;
  border: none;
  border-radius: 10px;
  width: 50px;
}

#editdisplay div {
  font-size: 20px;
  color: white;
}

#editfavorites{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  display: block;
  top: 25%;
}

#editediticon {
  font-size: 25px;
  height: 39px;
  width: 39px;
  padding: 0px;
  color: green;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto 5px;
  cursor: pointer;
}

#editdelicon {
  font-size: 24px;
  height: 39px;
  width: 39px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  font-weight: 800;
  color: red;
  margin: auto 5px;
  cursor: pointer;
}


/*----S.E.A.T. ADD FORM PAGE---- */

#adddisplay {
  width: 45%;
  height: 94%;
  background-color: firebrick;
  margin: auto;
  border-radius: 50%;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
}

#addartist {
  width: 175px;
  font-size: 15px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-family: monospace;
}

#addalbum {
  font-size: 15px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  font-family: monospace;
}

#addcondition {
  font-size: 15px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  width: 115px;
  font-family: monospace;
}

#addfavorites{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  display: block;
  top: 25%;
}

#addconfirmicon {

}


/*--------BOTTOM PARTIAL----------*/


#bottomblock {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  z-index: 0;
}

#discbottom {
  height: 47px;
  width: 100%;
  background-color: black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  z-index: 1;
  max-height: 100px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  clear: both;
}
