/*------------TOP PARTIAL------------*/

header {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#logo{
  font-size: 52px;
  font-weight: 900;
  width: 120px;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 3;
}

nav{
  height: 47px;
  width: 100%;
  background-color: firebrick;
  z-index: 0;
  padding-top: 3px;
}

#disctop {
  height: 47px;
  width: 100%;
  background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 1;
  max-height: 100px;
  display: flex;
  justify-content: center;
}

#disctop a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbuttons {
  height: 30px;
  width: 75px;
  margin: 10px 15px 0px;
  border-radius: 10px;
  color: white;
  background-color: firebrick;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  text-shadow: 2px 2px black;
  outline: none;
  cursor: pointer;
}


/*---------MAINS------------*/

/*----GLOBAL STYLES----*/


.welcome {
  display: block;
  width: 80%;
  margin: auto;
  background-color: firebrick;
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px 0;
  position: relative;
  top: 15%;
  text-align: center;
}
.welcome p{

}


/*----INDEX PAGE----*/


#indexmain{
  height: 325px;
  background-color: rgba(0,0,0,.95);
  width: 100%;
}

#indexdisplay {
  width: 50%;
  height: 100%;
  background-color: white;
  margin: auto;
  border-radius: 10px;
}

#indexfavorites{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  display: block;
  position: relative;
  margin: auto;
  top: 25%;
}


/*----SHOW ALL PAGE----*/


#showmain{
  height: 517px;
  background-color: rgba(0,0,0,.95);
  width: 100%;
}

#showdisplay {
  width: 90%;
  height: 100%;
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#recordbar {
  border-left: 4px solid firebrick;
  border-right: 4px solid firebrick;
  border-top: 2px solid white;
  border-bottom: 4px solid firebrick;
  width: 89.6%;
  height: 25px;
  background-color: black;
  line-height: 25px;
  color: white;
  text-shadow: 1px 1px firebrick;
  font-family: monospace;
  margin: auto;
}

.artistbar {
  display: inline-block;
  width: 20%;
  margin-left: 20px;
}
.albumbar {
  display: inline-block;
  width: 45%;
}
.conditionbar {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.record {
  border: .5px solid white;
  width: 99.8%;
  height: 25px;
  background-color: bisque;
  box-shadow: inset 0 0 10px black;
  border-radius: 4px;
  line-height: 25px;
  color: black;
  text-shadow: 1px 1px white;
  font-family: monospace;
}

.artist{
  display: inline-block;
  width: 20%;
  margin-left: 20px;
}
.album{
  display: inline-block;
  width: 45%;
}
.condition{
  display: inline-block;
  width: 5%;
  text-align: center;
}
.edit{
  display: inline-block;
  width: 10%;
  height: 23px;
  text-align: center;
  background-color: firebrick;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 2px 2px black;
  outline: none;
  font-family: monospace;
}
.del{
  display: inline-block;
  width: 10%;
  height: 23px;
  text-align: center;
  background-color: firebrick;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 2px 2px black;
  outline: none;
  font-family: monospace;
}


/*--------BOTTOM PARTIAL----------*/


#bottomblock {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  z-index: 0;
}

#discbottom {
  height: 47px;
  width: 100%;
  background-color: black;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  z-index: 1;
  max-height: 100px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: firebrick;
  clear: both;
}
