<% include ../partials/top.ejs %>

<main id="seatmain">
  <div id="seatdisplay">
    <span id="seatartist"><%= data.artist %></span>
    <span id="seatalbum"><%= data.album %></span>
    <button id="seatfavorites" type="button"><p>&#128876</p></button>
    <span id="seatcondition"><%= data.condition %></span>
    <div id="editdelcontainer">
      <a id="seatediticon" href='/albums/<%= data.id %>/edit'>&#9997</a>
    </div>
  </div>
</main>

<% include ../partials/bottom.ejs %>

