<% include ../partials/top.ejs %>

<form method='POST' action='/albums/'>
<main id="seatmain">
  <div id="adddisplay">
    <input name="artist" type="text" id="addartist" placeholder="Artist"/>
    <input name="album" type="text" id="addalbum" placeholder="Album"/>
    <button id="addfavorites" type="button"><p>&#128876</p></button>
    <div id="editconditioncontainer">
    <label for='condition' id="conditionlabel">Quality:
      <select id="editcondition" name="condition" type="text">
        <option value="3">&#128077</option>
        <option value="2">&#128076</option>
        <option value="1">&#128078</option>
      </select>
    </label>
    </div>
    <button id="addconfirmicon"><input type="submit" value='&#10010'/></button>
  </div>
</main>

<% include ../partials/bottom.ejs %>
