<% include ../partials/top.ejs %>

<form method='POST' action='/albums/'>
<main id="seatmain">
  <div id="adddisplay">
    <input name="artist" type="text" id="addartist" placeholder="Artist"/>
    <input name="album" type="text" id="addalbum" placeholder="Album"/>
    <button id="editfavorites" type="button">F</button>
    <input name="quality" type="text" id="addcondition" placeholder="Quality"/>
    <input id="addconfirmicon" type="submit" value='&#10010'/>
  </div>
</main>

<% include ../partials/bottom.ejs %>
