<% include ../partials/top.ejs %>

  <main id="showmain">
    <div id="recordbar">
        <span class="artistbar">Artist</span>
        <span class="albumbar">Album</span>
        <span class="conditionbar">Condition</span>
      </div>
    <div id="showdisplay">
      <% for (let album of data) { %>
        <div class="record">
        <span class="artist"><%= album.artist %></span>
        <span class="album"><%= album.album %></span>
        <span class="condition"><%= album.condition %></span>
        <button class="edit">SEE</button>
        <button class="del">TOSS</button>
      </div>
      <% } %>
    </div>
  </main>

<% include ../partials/bottom.ejs %>
