<% include ../partials/top.ejs %>

<form method='POST' action='/albums/<%= data.id%>?_method=PUT'>
<main id="seatmain">
  <div id="seatdisplay">
    <input name="artist" type="text" id="editartist" value="<%= data.artist %>"/>
    <input name="album" type="text" id="editalbum" value="<%= data.album %>"/>
    <button id="editfavorites" type="button">F</button>
    <div id="editconditioncontainer">
    <label for='condition' id="conditionlabel">Quality
      <select id="editcondition" name="condition" type="text">
        <option value="3">&#128077</option>
        <option value="2">&#128076</option>
        <option value="1">&#128078</option>
      </select>
    </label>
    </div>
    <div id="editdelcontainer">
      <input id="editediticon" type="submit" value='&#10004'>
    </form>
      <form action="/albums/<%= data.id %>?_method=Delete" method="POST" onSubmit="return confirm('You sure about that?')">
        <input id="editdelicon" type="Submit" value="X">
      </form>
    </div>
  </div>
</main>

<% include ../partials/bottom.ejs %>
